/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Condensed:wght@300&family=Lato:wght@300&family=Oswald:wght@300&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position:fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a{
    text-decoration: none;
    color: inherit;   
}

h1 {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    
}

#menu>li{
    margin-bottom: 1em;
}

.active{
    border-bottom: 1px solid #3a3a3a;
}

/*Navbar styles with dropdowm toggle*/
nav{
    position:absolute;
    background-color: #ffffff;
    width: 100%;
    left:0;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    display:none;
    top:100%; /*the css positioning is different when we apply flex, the top of the element should start at the bottom of its parent, 0(top of the parent) 100(bottom)*/
}

/*nav toggle*/
#nav-toggle:checked~nav{
    display:block;  
} /*the nav covers completely to the logo needs to be fixed at nav styles*/

#nav-toggle{
    display:none;/*we hide the checkbox*/
}

.nav-toggle-label{
    font-size: 2rem;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px; /*to move it down because it has been cover for the positioning of the header*/
}

/* Footer */
footer {
    background-color: orange;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    #menu {
        display: flex;
    }
    #menu > li {
        padding-left: 1rem;
    }
    .nav-toggle-label {
        display: none;
    }
}